<launch>
  <node name="OSListener" pkg="quadcopter_ctrl" type="OnlineSearchListener" args="3" output="screen"/>
  <node name="quadPatrolGRAPH_0" pkg="quadcopter_ctrl" type="quadPatrolGRAPH" args="0 $(arg input) 5.0  sim 0 1 0" output="screen"/>
  <node name="quadPatrolGRAPH_1" pkg="quadcopter_ctrl" type="quadPatrolGRAPH" args="1 $(arg input) 5.75 sim 0 1 0" output="screen"/>
  <node name="quadPatrolGRAPH_2" pkg="quadcopter_ctrl" type="quadPatrolGRAPH" args="2 $(arg input) 6.5  sim 0 1 0" output="screen"/>
<!-- 
  <node name="quadPatrolGRAPH_3" pkg="quadcopter_ctrl" type="quadPatrolGRAPH" args="3 $(arg input) 7.25 sim 8 1 $(arg opt)" output="screen"/>
  <node name="quadPatrolGRAPH_4" pkg="quadcopter_ctrl" type="quadPatrolGRAPH" args="4 $(arg input)" output="screen"/>
  <node name="quadPatrolGRAPH_5" pkg="quadcopter_ctrl" type="quadPatrolGRAPH" args="5 $(arg input)" output="screen"/>
  <node name="quadPatrolGRAPH_6" pkg="quadcopter_ctrl" type="quadPatrolGRAPH" args="6 $(arg input)" output="screen"/>
  <node name="quadPatrolGRAPH_7" pkg="quadcopter_ctrl" type="quadPatrolGRAPH" args="7 $(arg input)" output="screen"/>
  <node name="quadPatrolGRAPH_8" pkg="quadcopter_ctrl" type="quadPatrolGRAPH" args="8 $(arg input)" output="screen"/>
  <node name="quadPatrolGRAPH_9" pkg="quadcopter_ctrl" type="quadPatrolGRAPH" args="9 $(arg input)" output="screen"/>
-->
</launch>

<!--
README! For the quadNodeCount node this are the required input parameters:
"argv[1]: Quadcopter # to control\n"
"argv[2]: Input file\n"
"argv[3]: zHeight of flight\n"
"argv[4]: Control Mode ('sim' or 'asctec')\n"
"argv[5]: STARTNODE, index of first node%s\n"
"argv[6]: minVisit%s\n",
"argv[7]: optimized (0=false (EC), 1=true (PG)) ", TC_RED, TC_NONE)
-->
