<launch>
  <node name="OSListener" pkg="quadcopter_ctrl" type="OnlineSearchListener" args="4" output="screen"/>
  <node name="quadLRTAstar_0" pkg="quadcopter_ctrl" type="quadLRTA" args="0 $(arg input) 5.0 sim 0 1" output="screen"/>
  <node name="quadLRTAstar_1" pkg="quadcopter_ctrl" type="quadLRTA" args="1 $(arg input) 5.75 sim 0 1" output="screen"/>
  <node name="quadLRTAstar_2" pkg="quadcopter_ctrl" type="quadLRTA" args="2 $(arg input) 6.5 sim 0 1" output="screen"/>
  <node name="quadLRTAstar_3" pkg="quadcopter_ctrl" type="quadLRTA" args="3 $(arg input) 7.25 sim 0 1" output="screen"/>
<!--  <node name="quadLRTAstar_4" pkg="quadcopter_ctrl" type="quadLRTA" args="4" output="screen"/>
  <node name="quadLRTAstar_5" pkg="quadcopter_ctrl" type="quadLRTA" args="5" output="screen"/>
  <node name="quadLRTAstar_6" pkg="quadcopter_ctrl" type="quadLRTA" args="6" output="screen"/>
  <node name="quadLRTAstar_7" pkg="quadcopter_ctrl" type="quadLRTA" args="7" output="screen"/>
  <node name="quadLRTAstar_8" pkg="quadcopter_ctrl" type="quadLRTA" args="8" output="screen"/>
  <node name="quadLRTAstar_9" pkg="quadcopter_ctrl" type="quadLRTA" args="9" output="screen"/>
 -->
</launch>

<!--
README! For the quadNodeCount node this are the required input parameters:
"argv[1]: Quadcopter # to control"
"argv[2]: Input file"
"argv[3]: zHeight of flight"
"argv[4]: Control Mode ('sim' or 'asctec')"
"argv[5]: STARTNODE, index of first node"
-->
